@using MonoSign.U2F
@model RegisterDeviceModel
@{
    ViewData["Title"] = App.CurrentUser.UserName;
}
<div class="card shadow-sm">
    <div class="card-header">
        <div class="d-flex justify-content-between">
            <h4 class="my-0 font-weight-normal text-danger">
                <i class="fa fa-user"></i> @App.CurrentUser.UserName
            </h4>
            <div>
                <a href="#" id="register_device" class="btn btn-primary"><i class="fa fa-save"></i> Register Device</a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Usage</th>
                <th>Key Handle</th>
                <th>Authenticate</th>
            </tr>
            </thead>
            <tbody>
            @if (App.CurrentUser.Devices.Any())
            {
                foreach (var registration in App.CurrentUser.Devices)
                {
                    <tr>
                        <td>
                            <a href="#" data-js="remove-device" data-id="@registration.Identifier">
                                <i class="fa fa-trash-alt"></i>
                            </a>
                        </td>
                        <td>@registration.Name</td>
                        <td>@registration.Usage</td>                                                              
                        <td>
                            <span title="@registration.Identifier" style="display: inline-block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 150px;">
                                @registration.Identifier
                            </span>
                        </td>
                        <td>
                            <a href="#" data-js="authenticate-device" class="btn btn-sm btn-outline-success" data-name="@registration.Name" data-id="@registration.Identifier"><i class="fa fa-lock"></i> Authenticate</a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="6">There is no device</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>
<div class="modal" tabindex="-1" role="dialog" id="register_modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><i class="fa fa-key"></i> Waiting to tap</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="form-group p-2">
                <label for="device_name">Device Name</label>
                <input type="text" class="form-control" id="device_name" placeholder="Name your device">
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">1. Name your device</li>
                <li class="list-group-item">2. Insert your device</li>
                <li class="list-group-item">3. If your device already inserted, your device led must be blinking.</li>
                <li class="list-group-item">4. Tap to key on your device.</li>
                <li class="list-group-item text-center"> <i class="fa fa-sync fa-spin"></i> Waiting...</li>
            </ul>
        </div>
    </div>
</div>
             
<div class="modal" tabindex="-1" role="dialog" id="authenticate_modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><i class="fa fa-key"></i> Waiting to tap</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Please tap/touch your device named as "<span id="user_device_name"></span>".
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/js/u2f-app.js"></script>
}